@font-face {
    font-family: Trajan;
    src: url(./fonts/TrajanPro-Regular.woff2);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}
#main {
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1699125680104-308d0ae2661b?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=3132);
    background-size: cover;
    background-position: center;

    text-align: center;
    padding: 75px;
}
#main h1 {
    font-family: Trajan;
    font-size: 75px;
    color: #a50000;
    text-shadow: 5px 5px 15px #4D0000;
    letter-spacing: 3px;
    text-transform: capitalize;
}
#main button {
    margin: 40px;
    font-size: 20px;
    padding: 15px 20px;
    background-color: #9A6C45;
    color: white;
    border: 2px solid #9A6C45;
    border-radius: 50px;
    box-shadow: 5px 5px 15px #FFCA4A;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
}
#main button:hover {
    scale: 1.1;
    border: 2px solid black;
    background-color: transparent;
    color: whitesmoke;
    box-shadow: 5px 5px 15px black;
    transition: all 0.3s ease-in;
}