* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html, body {
    height: 100%;
    width: 100%;
}
main {
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1607734834519-d8576ae60ea6?q=80&w=2257&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}
main>h1 {
    text-align: center;
    padding: 2rem;
    color: rgb(148, 140, 140);
    font-size: 3rem;
}
section {
    position: absolute;
    height: 60%;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1.5rem 0.5rem;
}
.card {
    height: 70%;
    width: 80%;
    background-color: transparent;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    color: transparent;
}
button {
    font-size: 1.15rem;
    padding: 1rem 1.5rem;
    border-radius: 50px;
    cursor: pointer;
}
button:active {
    scale: 0.9;
}