* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html, body {
    height: 100%;
    width: 100%;
}
main {
    height: 100%;
    width: 100%;
    background-color: #111;
    padding: 25px 100px;
}
.elem {
    height: 100px;
    width: 100%;
    background-color: #222;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    border-radius: 50px;
}
.elem h3 {
    color: #eed;
    font-size: 30px;
    font-weight: 700;
}
.elem button {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    background-color: #4CAF50;
    color: whitesmoke;
    border-radius: 50px;
    cursor: pointer;
}