* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    color: white;
}
html, body {
    height: 100%;
    width: 100%;
}
main {
    height: 90%;
    width: 100%;
    display: flex;
    background-color: #111;
    padding: 5vw 10vw;
}
#left {
    width: 40%;
    height: 100%;
    background-color: #444;
    background-size: cover;
    background-position: center;
}
#right {
    width: 60%;
    height: 100%;
    padding: 0 5vw;
}
#right h2 {
    font-size: 40px;
}
#all-songs {
    height: 85%;
    margin-top: 35px;
}
.song-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #5a5a5a;
    padding: 18px 15px;
}
.song-card:hover{
    background-color: #1e1e1e;
}
.song-card:nth-last-child(1){
    border-bottom: 1px solid #5a5a5a;
}
.song-card .part-1{
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}
.song-card img{
    height: 55px;
    width: 55px;
    margin-right: 20px;
    object-fit: cover;
}
.song-card .part-1 h2{
    font-size: 20px;
    font-weight: 600;
}
.song-card h6{
    font-weight: 500;
    font-size: 16px;
    font-weight: 500;
}
#player{
    height: 10%;
    width: 100%;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
#player h3{
    background-color: rgba(30, 30, 30, 0.737);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
#player h3 i{
    font-size: 24px;
    cursor: pointer;
}

#player h3:active{
    scale: 0.93;
}