* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html, body {
    height: 100%;
    width: 100%;
}
main {
    height: 100%;
    width: 100%;
    background-color: rosybrown;
    display: flex;
    align-items: center;
    justify-content: center;
}
#full-screen {
    height: 75%;
    width: 25%;
    background-color: black;
    position: relative;
    border-radius: 50px;
}
#story {
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: auto;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}
#story::-webkit-scrollbar {
    display: none;
}
.card {
    margin: 0 10px;
    height: 100px;
    width: 100px;
    flex-shrink: 0;
    border: solid 5px palevioletred;
    border-radius: 50%;
}
.card img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
#display-story {
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
    background-size: cover;
    border-radius: 50px;
}