* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html, body {
    height: 100%;
    width: 100%;
}
main {
    height: 100%;
    width: 100%;
    background-color: #111;
    padding: 50px;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    flex-wrap: wrap;
}
.card {
    height: 350px;
    width: 275px;
    background-color: #fff;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
}
.card img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    margin-bottom: 10px;
}
.card h3 {
    font-size: 30px;
    white-space: nowrap;
    margin-bottom: 10px;
}
.card h4 {
    font-size: 17px;
    color: firebrick;
    margin-bottom: 10px;
}
.card p {
    font-size: 14px;
    color: #555;
}