* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#name {
    background-color: #1B283B;
    color: white;
    text-align: center;
    padding: 50px;
}
#name h1 {
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
}
#name p {
    font-size: 23px;
    margin-top: 10px;
    font-style: oblique;
    font-weight: 200;
}
#about {
    background-color: white;
    margin: 35px 150px;
    text-align: center;
    padding: 65px 50px;
}
#about h2 {
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 17px;
    font-weight: 800;
}
#about p {
    color: #8E8C8C;
    font-size: 17px;
}
#education {
    background-color: #DFF1FF;
    margin: 35px 150px;
    text-align: center;
    padding: 50px 50px;
}
#education h2 {
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 17px;
    font-weight: 800;
    margin-bottom: 20px;
}
#education #content {
    background-color: #fff;
    padding: 15px;
    font-size: 19px;
    margin: 20px 100px;
}
#skills {
    background-color: #FFF2C7;
    margin: 35px 150px;
    text-align: center;
    padding: 50px 50px;
}
#skills h2 {
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 17px;
    font-weight: 800;
    margin-bottom: 20px;
}
#skills #content {
    background-color: #fff;
    padding: 15px;
    font-size: 19px;
    margin: 20px 175px;
    text-transform: uppercase;
    font-weight: 700;
}
#project {
    background-color: #EDEAFF;
    margin: 35px 150px;
    text-align: center;
    padding: 50px 50px;
}
#project h2 {
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 17px;
    font-weight: 800;
    margin-bottom: 20px;
}
#project #content {
    background-color: #fff;
    padding: 15px;
    font-size: 19px;
    margin: 20px 100px;
    font-weight: 300;
    font-style: italic;
}
#contact {
    background-color: #DDFCE7;
    margin: 35px 150px;
    text-align: center;
    padding: 50px 50px;
}
#contact h2 {
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 17px;
    font-weight: 800;
    margin-bottom: 20px;
}
#contact #content {
    background-color: #fff;
    padding: 15px;
    font-size: 19px;
    margin: 20px 125px;
}
#footer {
    background-color: #131C2A;
    color: #5E636B;
    text-align: center;
    padding: 25px;
    font-size: 17px;
}