* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html, body {
    height: 100%;
    width: 100%;
}
body { 
    background-color: black;
    color: rgb(102, 237, 100);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
h1 {
    font-size: 5rem;
}
#buttons {
    display: flex;
    gap: 5rem;
}
.btn1, .btn2 {
    background-color: #35f127;
    color: black;
    padding: 1rem 1.5rem;
    border-radius: 50px;
    cursor: pointer;
}