:root {
    --x : 100px;
    --y : 100px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html, body {
    height: 100%;
    width: 100%;
    background-color: #111;
    color: #eee;
}
body {
    background-image: url(https://i.pinimg.com/1200x/e0/92/c6/e092c60c2259c8a9e7f766a89acfba9a.jpg);
    background-size: cover;
    background-position: center;

}
#box {
    position: absolute;
    height: 100%;
    width: 100%;
    background: radial-gradient(250px at var(--x) var(--y), transparent, rgba(0, 0, 0, 0.861));
}