* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html, body {
    height: 100%;
    width: 100%;
}
main {
    height: 100%;
    width: 100%;
    background-color: #222;
    color: #fff;
    padding: 50px;
}
.all-reels {
    height: 100%;
    width: 350px;
    margin: auto;
    border-radius: 15px;
    overflow: auto;
    scroll-snap-type: y mandatory;
}
.all-reels::-webkit-scrollbar {
    display: none;
}
.reel {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
.reel video {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}
.reel .bottom {
    width: 100%;
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.636), rgba(15, 14, 14, 0.908));
    bottom: 0;
    height: 19%;
}
.reel .bottom .user {
    display: flex;
    align-items: center;
    gap: 13px;
    padding: 15px;
}
.reel .bottom .user img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.reel .bottom .user h4 {
    font-size: 17px;
    font-weight: 600;
}
.reel .bottom .user button {
    margin-left: auto;
    padding: 8px 12px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    backdrop-filter: blur(10px);
}
.reel .bottom .user button:active {
    scale: 0.95;
}
.reel .bottom .caption p {
    padding: 0 15px 10px 15px;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
}
.reel .bottom .caption h6 {
    padding: 0 15px 10px 15px;
    font-size: 11px;
    font-weight: 500;
    color: #7f7f7f;
}
.reel .right {
    position: absolute;
    right: 10px;
    bottom: 9%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.reel .right>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}
.reel .right i {
    font-size: 25px;
    font-size: 400;
}
.reel .ri-heart-3-fill {
    color: red;
}
.reel .right h5 {
    font-size: 15px;
    font-size: 600;
    pointer-events: none;
}
.reel .right .mute {
    margin-bottom: 5px;
    border-radius: 50%;
}