* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "helvetica neue";
}
html,
body {
  height: 100%;
  width: 100%;
}
html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(244, 244, 244);
}
body {
  background-color: #1d1d1d;
}
@mixin flex-column($gap: 0rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}
main {
  width: 100%;
  @include flex-column();
  section.view-1 {
    width: 100%;
    @include flex-column(1.5rem);
    padding: 1rem;
    .top {
      width: 100%;
      img {
        width: 100%;
        border-radius: 1rem;
      }
    }
    .bottom {
      background-color: #292929;
      padding: 1.5rem;
      @include flex-column(4.5rem);
      border-radius: 1rem;
      .text {
        @include flex-column(1.25rem);
        h1 {
          font-weight: 300;
          text-transform: uppercase;
        }
        p {
          font-weight: 400;
          opacity: 0.7;
          font-size: 1.35rem;
          line-height: 2.25rem;
          color: #9E9D9B;
        }
        button {
          width: fit-content;
          border: none;
          outline: none;
          padding: 0.75rem 1rem;
          border-radius: 0.5rem;
          text-transform: uppercase;
        }
      }
    }
  }
  section.view-2 {
    @include flex-column(2.5rem);
    width: 100%;
    padding: 1rem;
    .top,.bottom {
      display: flex;
      width: 100%;
      justify-content: space-around;
      .element {
        text-align: center;
        @include flex-column(0.2rem);
        small {
          opacity: 0.6;
        }
        h2 {
          font-size: 3rem;
          font-weight: 400;
        }
      }
    }
  }
  section.view-3 {
    width: 100%;
    padding: 1rem;
    @include flex-column(1.5rem);
    .top {
      width: 100%;
      img {
        width: 100%;
        border-radius: 1rem;
      }
    }
    .bottom {
      background-color: #292929;
      padding: 1.5rem;
      @include flex-column(5.5rem);
      border-radius: 1rem;
      p {
        font-weight: 300;
      }
      .text {
        @include flex-column(2rem);
        h1 {
          font-weight: 300;
          text-transform: uppercase;
        }
        .paragraph {
          p {
            font-weight: 400;
            opacity: 0.7;
            font-size: 1rem;
            line-height: 2.25rem;
            color: #9E9D9B;
          }
        }
      }
    }
  }
  section.view-4 {
    @include flex-column(2rem);
    width: 100%;
    padding: 1rem;
    .card {
      width: 100%;
      background-image: url(./assets/view-4-img.webp);
      background-size: cover;
      aspect-ratio: 1/1;
      border-radius: 1rem;
      @include flex-column();
      justify-content: space-between;
      padding: 1.15rem;
      .icon, .bottom {
        background-color: #8282826a;
        backdrop-filter: blur(5px);
        border: 1px solid white;
        border-radius: 0.75rem;
        padding: 0.5rem;
      }
      .top {
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
        .icon {
          width: fit-content;
          border-radius: 50%;
        }
      }
      .bottom {
        display: flex;
        justify-content: space-between;
        padding: 1.25rem 1.5rem;
      }
    }
  }
}
@media (min-width: 900px) {
  main {
    section.view-1 {
      padding: 1.5rem 3rem;
      flex-direction: row;
      .top, .bottom {
        width: 50%;
      }
      .bottom {
        justify-content: space-between;
        padding: 3.5rem;
        .text {
          gap: 1.5rem;
          h1 {
            font-size: 3.25rem;
          }
          p {
            width: 80%;
            font-size: 1.15rem;
          }
        }
      }
    }
    section.view-2 {
      padding: 1.5rem 3rem;
      flex-direction: row;
    }
    section.view-3 {
      flex-direction: row-reverse;
      padding: 1.5rem 3rem;
      .top, .bottom {
        width: 50%;
      }
      .bottom {
        justify-content: space-between;
        padding: 2rem;
        .text {
          gap: 1.5rem;
          h1 {
            font-size: 3rem;
          }
          .paragraph {
            display: flex;
            gap: 2rem;
            p {
            width: 50%;
            font-size: 1rem;
          }
          }
        }
      }
    }
    section.view-4 {
      flex-direction: row;
      padding: 1.5rem 3rem;
    }
  }
}