* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html, body {
    height: 100%;
    width: 100%;
}
main {
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 0.4fr 0.6fr;
    grid-template-areas: 
        "box1 box1 box1 box2 box3"
        "box1 box1 box1 box4 box3"
        "box5 box6 box6 box4 box7"
        "box5 box6 box6 box8 box7"
        "box9 box10 box11 box8 box7";
    padding: 15px;
    grid-gap: 15px;
}
#box1 {
    grid-area: box1;
    background-image: url(https://i.pinimg.com/1200x/4c/c0/dd/4cc0dd1ed957bf9f38ba449ee3919880.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    color: white;
    padding-top: 250px;
    padding-left: 25px;
}
#box1 h1 {
    font-size: 50px;
    margin-bottom: 10px;
}
#box1 p {
    font-size: 15px;
}
#box2 {
    grid-area: box2;
    background-color: #3e1e0a;
    border-radius: 15px;
    color: white;
    padding: 25px 15px;
}
#box2 h1 {
    font-size: 29px;
    margin-bottom: 15px;
    
}
#box2 p {
    font-size: 16px;
}
#box3 {
    grid-area: box3;
    background-image: url(https://i.pinimg.com/1200x/21/2b/7a/212b7a5bb673fc2f55aa228299fa0e59.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}
#box4 {
    grid-area: box4;
    background-image: url(https://i.pinimg.com/1200x/0b/6b/bc/0b6bbc2f3f9ab0f313936808c6efdd18.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}
#box5 {
    grid-area: box5;
    background-color: #3e1e0a;
    border-radius: 15px;
    color: white;
    padding: 25px 15px;
}
#box5 h1 {
    font-size: 29px;
    margin-bottom: 15px;
    
}
#box5 p {
    font-size: 16px;
}
#box6 {
    grid-area: box6;
    background-image: url(https://i.pinimg.com/1200x/7d/f2/22/7df222c26cc9f2d607b1eefc68cbe433.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}
#box7 {
    grid-area: box7;
    background-image: url(https://i.pinimg.com/1200x/02/c6/a7/02c6a766d7964b6345932ce007cb7f53.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    color: white;
    padding: 25px;
}
#box7 h1 {
    font-size: 40px;
    margin-bottom: 7px;
}
#box7 p {
    font-size: 15px;
}
#box8 {
    grid-area: box8;
    background-color: #3e1e0a;
    border-radius: 15px;
    color: white;
    padding: 20px;
}
#box8 h1 {
    font-size: 30px;
    margin-bottom: 7px;

}
#box8 p {
    font-size: 15px;
}
#box9 {
    grid-area: box9;
    background: linear-gradient(to right, rgb(87, 63, 45),rgb(167, 95, 43));
    border-radius: 15px;
}
#box9 h1 {
    color: white;
    font-size: 30px;
    padding: 45px 35px;
    font-weight: 400;
    margin-bottom: 7px;
    text-transform: uppercase;
}
#box10 {
    grid-area: box10;
    background-color: #2e1607;
    border-radius: 15px;
}
#box10 h1 {
    color: white;
    font-size: 25px;
    padding: 45px 45px;
    font-weight: 300;
    margin-bottom: 7px;
    text-transform: uppercase;
}
#box11 {
    grid-area: box11;
    background-color: rgb(140, 74, 26);
    border-radius: 15px;
}
#box11 h1 {
    color: white;
    font-size: 25px;
    padding: 45px 55px;
    font-weight: 300;
    margin-bottom: 7px;
    text-transform: uppercase;
}