@font-face {
    font-family: 'Ndot-55';
    src: url(./fonts/Ndot-55.woff2);
}
@font-face {
    font-family: 'NType82-Regular';
    src: url(./fonts/NType82-Regular.otf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}
#section1 {
    height: 100%;
    width: 100%;
    padding: 15px 495px;
    background-image: url(./assets/hero-section.webp);
    background-size: cover;
    background-position: center;
}
#section1 .nav {
    width: 450px;
    padding: 10px;
    font-family: 'Ndot-55';
    font-size: 22px;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #CCCCCC;
    text-transform: uppercase;
    border-radius: 10px;
}
#section1 .nav:hover {
    cursor: pointer;
}
#section1 .btm {
    height: 175px;
    width: 475px;
    background-color: #8B9194;
    bottom: 15px;
    border-radius: 15px;
    margin: 530px 0px;
    font-family: 'NType82-Regular';
}
#section1 .btm p {
    color: white;
    font-size: 30px;
    padding: 25px 25px;
    font-weight: 100;
}
#section1 .btm .product-img {
    position: absolute;
    height: 160px;
    bottom: 3%;
    right: 32%;
}
#section2 {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 15px 495px;
    background-image: url(./assets/section-2.avif);
    background-size: cover;
    background-position: center;
}
#section2 .btm {
    height: 175px;
    width: 475px;
    background-color: white;
    bottom: 15px;
    border-radius: 15px;
    margin: 570px 0px;
    font-family: 'NType82-Regular';
}
#section2 .btm p {
    color: black;
    font-size: 30px;
    padding: 25px 25px;
    font-weight: 100;
}
#section2 .btm .product-img {
    position: absolute;
    height: 160px;
    bottom: 5%;
    right: 33%;
}