* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html, body {
    height: 100%;
    width: 100%;
}
main {
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cursor {
    height: 100px;
    width: 100px;
    background-color: white;
    position: fixed;
    border-radius: 50%;
    mix-blend-mode: difference;
    transition: all linear 0.25s;
}
h1 {
    font-size: 15vw;
}