* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html, body {
    height: 100%;
    width: 100%;
}
#main {
    height: 100%;
    width: 100%;
    background-image: url(https://i.pinimg.com/1200x/aa/68/b9/aa68b9419cb9c664559259f150ca6009.jpg);
    background-size: cover;
    background-position: center;
}
#main #header {
    height: 15%;
    width: 100%;
    text-align: center;
    font-size: 35px;
    color: #0111338d;
    padding: 20px;
    text-shadow: 5px 5px 15px #6d85a8;
}
#main #content {
    height: 85%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 75px;
    gap: 50px;
    overflow: auto;
    font-size: 15px;
}
#main #content .card {
    height: 400px;
    width: 300px;
    background-color: whitesmoke;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.357);
    color: whitesmoke;
    box-shadow: 15px 15px 25px #6783B3;
}
#main #content .card img {
    padding: 15px 15px;
    height: 300px;
    width: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 25px;
}
#main #content .card:hover{
    transform: scale(1.15);
    transition: all 0.3s ease-in-out;
}