* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html, body {
    height: 100%;
    width: 100%;
}
main {
    height: 100%;
    width: 100%;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    height: 450px;
    width: 300px;
    background-color: #eff;
    padding: 20px;
    border-radius: 27px;
}
.card div {
    position: relative;
    overflow: hidden;
}
.card img {
    width: 100%;
    height: 325px;
    object-fit: cover;
    margin-bottom: 17px;
    border-radius: 10px;
}
.card h2 {
    text-align: center;
    font-size: 30px;
}
.card i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0) rotate(-60deg);
    background: linear-gradient(to bottom, rgb(179, 11, 179), rgb(243, 66, 96));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 100px;
    opacity: 0;
    transition: all cubic-bezier(.66,1.01,.8,1.28) 0.3s;
}